.thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thank-you-container img{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.select{
    background-color:  hsla(210, 11%, 22%, 0.986);
    color:  hsl(25, 97%, 53%);
    padding: 5px 8px;
    border-radius: 50px;
    font-size: 14px;
}

.description p{
    color: hsl(217, 12%, 63%);
    font-weight: 700;
}